.btn {
  height: 47px;
  @apply py-10px px-40px p-10px rounded-[5px] text-button;
  &.btn-dynamic {
    height: 44px;
  }
  &.btn-medium {
    max-width: 250px;
    width: 100%;
  }
  &.btn-large {
    height: 50px;
    max-width: 400px;
    width: 100%;
  }
  &:hover {
    @apply opacity-80;
  }
}